!!!
html
  head
   title Resume
   link(href="resume.css", rel='stylesheet')
  body
    .resume
      .bio
        h1 Matthew Mueller
        p mattmuelle@gmail.com &bull; (262) 501-2161

      h2 Education
      ul.education
        li
          h3 University of Wisconsin-Madison
          .date 09/07 &ndash; 05/11
          .location Madison, WI
          ul.bullets
            li Double Major: Computer Science and Finance, Investment & Banking
            li Cumulative GPA: 3.4/4.0

        li
          h3 Macquarie University
          .date 02/10 &ndash; 06/10
          .location Sydney, Australia
          ul.bullets
            li Studied abroad for one semester in Sydney, Australia

      h2 Work Experience
      ul.experience
        li
          h3 Wordsmith
          .date 12/11 &ndash; Present
          .title Creator
          .location San Francisco, CA
          .website wordsmith.io

          ul.bullets
            li Built a fast and powerful note-taking and blogging platform using Node.js, MongoDB, Redis, Express, Stylus, Jade and Component
            li Designed and engineered the look, feel and experience of the entire web application
            li Created and contributed to over 30 open source projects during development

        li
          h3 Yahoo!
          .date 08/11 &ndash; 09/12
          .title Front-end Engineer
          .location Sunnyvale, CA
          .website yahoo.com

          ul.bullets
            li Designed and implemented complex UI interactions for Yahoo's Social Media team
            li Organized and managed the first internal Github pilot program within Yahoo!
            li Engineered the social features and analytics for an internal interactive and mobile media product
            li Helped and mentored other engineers get up to speed with emerging technologies including Node.js, Git, and Github

        li
          h3 Yahoo! Australia
          .date 03/10 &ndash; 06/10
          .title Lifestyle Team Intern
          .location Sydney, Australia
          .website yahoo.com.au

          ul.bullets
            li Collected, managed and pitched content for the Yahoo Lifestyle homepage
            li Designed and implemented cross-browser galleries, newsletters, and recipes using HTML, CSS and Photoshop
            li Contributed to Yahoo Australia's large-scale winter marketing campaign

        li
          h3 Lucid Tabs
          .date 01/09 &ndash; 05/10
          .title Creator
          .location Madison, WI
          .website lucidtabs.com

          ul.bullets
            li Conceptualized and created Lucid Tabs from low-level SQL to the pixel-perfect Photoshop graphics
            li Designed and open-sourced a custom template-engine that encourages good MVC application architecture
            li Built a robust and scalable drag and drop system with object-oriented JavaScript

        li
          h3 Software Training for Students
          .date 02/08 &ndash; 01/10
          .title Software Trainer & Web Administer
          .location Madison, WI
          .website wisc.edu/sts

          ul.bullets
            li Created and taught over 30 different technology classes, ranging from Photoshop and GarageBand to JavaScript and PHP
            li Directed and introduced incoming freshman to the technology on campus as part of the Computing@UW initiative
            li Managed and updated the campus website which attracted over 5,000 unique monthly users

      h2 Open Source
      ul.open-source
        :markdown
          **Strong open source advocate:** Author of over 60 open source projects at *github.com/matthewmueller*. Contributor to over 20 open source projects.
          Projects implemented using a variety of programming languages including Node.js, Javascript, CSS, PHP, C++, and Bash.

      h2 Skills
      ul.skills
        li
          :markdown
            **Computer Programming:** Taught seminars on PHP, SQL, CSS, JavaScript, AJAX, jQuery, and HTML through the Division of Information
            Technology at University of Wisconsin-Madison; Learned Java and basic C through Computer Science classes at University of
            Wisconsin-Madison; Self-taught programming languages and frameworks include Node.js, Git, MongoDB, Redis, Express, Stylus, Jade, Backbone and Component.


